
{% extends "template.html" %} {% block body %}
<head>
    <link rel="stylesheet" href="../static/style.css">
     <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">
    <title>Python Website Demo</title>
</head>
<body>
    <br><br><br><br>
      <center>
        <h2>Browse all the Jobs</h2><br>
        <div id="search">
        <frame>
        <form method="POST" name=form action="/browse/searchjob">
             <select type="text" name="searchopt">
                 <option value="JOBTITLE">JOBTITLE</option>
                 <option value="JOBTYPE">JOBTYPE</option>
                 <option value="EXPERIENCE">EXPERIENCE</option>
                 <option value="KEYSKILL">KEYSKILL</option>
                 <option value="LOCATION">LOCATION</option>
                <option value="SALARY">SALARY</option>
                <option>OTHER</option>
             </select>
                 <input type="text" name="srctitle">
            <button class="button" type="submit" value="submit" id="button">Search Now</button>
        </form>
       </div>
       <table>
        <tr style="height: 60px; background-color: #04aec4; color: white;">
            <td>
                JOBTITLE
            </td>
            <td>
                JOBTYPE
            </td>
            <td>
                EXPERIENCE
            </td>
            <td>
                KEYSKILL
            </td>
            <td>
                LOCATION
            </td>
            <td>
                SALARY
            </td>
            <td>
                APPLY
            </td>
        </tr>

            {% for i in result%}
            <tr>
            <td>{{i['JOBTITLE']}}</td>
            <td>{{i['JOBTYPE']}}</td>
            <td>{{i['EXPERIENCE']}}</td>
            <td>{{i['KEYSKILL']}}</td>
            <td>{{i['LOCATION']}}</td>
            <td>{{i['SALARY']}}</td>
            <td>
                <button type="submit" >APPLY</button>
            </td>
            </tr>
            {%endfor%}
      </table>
      </frame>
      </center>

<style type="text/css">
    body{
        background-color: white;
        color: black;
    }
    table{
        border-collapse: separate;
        box-shadow:2px 3px 3px rgb(165, 168, 166);

    }
    h2{
        margin-right: 190px;
    }

    table tr{
        height: 90px;
        background-color: white;
    }
    table tr td{
        width: 200px;
        text-align: center;
    }
    #search{
        margin-left: -130px;
    }
    
</style>

{% endblock %}